*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.fa {
  padding: 30px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 20%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

#romlogo{
  width: 65px;
  height: 50px;
}
#smart{
  width: 50px;
  height: 89px;
  border-radius: 20%;
  margin-top: 6px;
}
#express{
  width: 90px;
  height: 80px;
}

#romlogo:hover{
  opacity: 0.7;
}

#gitlab:hover{
  opacity: 0.7;
}

#smart:hover {
  opacity: 0.3;
}

#ecdis:hover {
  opacity: 0.3;
}

#trim:hover{
  opacity: 0.2;
}

button:hover {
 opacity: 0.5;
 
}

#gitlab{
  width: 50px;
  height: 89px;
  border-radius: 20%;
  margin-top: 6px;
}
html{
  scroll-behavior: smooth;
}
.web{
  font-size: xx-large;
}
.main{
  background-image: url("images/IMG_1126.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100dvh;
  text-align: end;
  display: grid;
  justify-content: end;
  justify-items: stretch;
  align-content: center;
}
.main2{
text-align: center;
width: 100%;
}
.main3{
  text-align: center;
  width: 100%;
}

img{
  width: auto;
  height: 80px;
}

.info1{
  margin-bottom: 400px;    
  display: grid;
  align-content: space-around;
  justify-items: center;
}
h2{
  text-align: center;
  font-size: xx-large;
}
.aboutme{
  text-align: center;
  background-color: #eee;
  height: 285px;
  border-style: inset;
  margin: 7px;
  border-color: #ff0700;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}
.skillzz{
  text-align: center;
  height: 366px;
  
}
.contactz {
  background-color: rgb(228, 229, 232);
  border-style: inset;
  margin: 7px;
  border-color: #113c05;
}
.icons{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

}

.contacts2 {
  background-color: rgb(228, 229, 232);
  border-style: inset;
  margin: 7px;
  border-color: #040e53;
}
.aboutme2{
  border-style: inset;
  margin: 7px;
  border-color: #db6f0b;
  background-color: #eee;
}

.aboutme3{
  border-style: inset;
  margin: 7px;
  background-color: #eee;
  border-color: #e5f508df;
}
ul{
  list-style-type: none;
}
button{
  background-color: rgba(23, 114, 114, 0);
  border-radius: 15%;
}
.muli2, .muli3{
  background-color: none;
}
.input{
  width: 290px;
  height: 40px;
}
#comment{
  width: 290px ;
}
.legend{
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.forms{
  background-color: #040e5398;
  color: aliceblue;
  text-align: center;
}
#submit{
  background-color: #eee;
}

#menu {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: 60px;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

#menu .menu-burger {
  padding: 10px;
  display: grid;
  align-items: center;
}

#menu input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
}

#menu .burger-container {
  position: relative;
  width: 40px;
  height: 40px;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 0px;
  background-color: #00000024;
}


#menu span {
  display: block;
  width: 29px;
  height: 3px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transition: all 20s;
}

#menu input:checked + .burger-container span:nth-child(1) {
  transform: translateY(20px) rotate(720deg);
}

#menu input:checked + .burger-container span:nth-child(2) {
  opacity: 1;
}

#menu input:checked + .burger-container span:nth-child(3) {
  transform: translateY(-20px) rotate(-720deg);
}

#menu input:checked ~ #clickable {
  display: block;
}

#clickable {
  position: absolute;
  width: 100%;
  top: 60px;
  z-index: 1;
  right: 11px;
  display: none;
}

#clickable li {
  list-style-type: none;
  display: inline-flex;
}




@media (width >= 768px)  {
  .main{
    width: 100%;
    height: 100dvh;
  }
  .info1{
    text-align: center;
    margin-right: 55px;
    
  }
 
  .input{
    width: 740px;
    height: 45px;
  }
  #comment{
    width: 740px ;
  }
  .aboutme{
   height: 175px;
   
  }
  .skillzz{
    text-align: center;
    height: 278px;
  }
 
  .web{
    font-size: xxx-large;
  }
  #clickable li{
    width: 61px;
    display: inline-flex;
    justify-content: space-evenly;
  }
  #clickable{
    left: 7px;
  }
  #express{
    width: auto;
    height: 119px;
  }
  .main3 {
    margin-top: 45px;
   }
  
}

@media (orientation:landscape) {
  .main{
    width: 100%;
    height: 610px ;
  }
 .skillzz{
  height: 275px;
 }
 .aboutme{
  height: 175px;
 }
 .main3{
  margin-top: 45px;
 }
 .aboutme3{
  height: 160px;
 }
}
 

@media (width >= 1024px)  {
  .main{
    width: 100%;
    height: 100dvh;
  }

  .info1{
    color: black;
    margin-right: 180px;
  
  }
    .input{
    width: 800px;
    height: 60px;
  }
  #comment{
    width: 800px ;
  }
  .web{
    font-size: xx-large;
}
img{
  width: auto;
  height: 120px;
}
.skillzz{
  text-align: center;
  height: 356px;
}

.web{
  font-size: xxx-large;
}
#clickable li{
  width: 61px;
  display: inline-flex;
  justify-content: space-evenly;
}
#clickable{
  left: 7px;
}
#express{
  width: auto;
  height: 119px;
}
.main3 {
  margin-top: 8px;
 }
 .aboutme3{
  height: 169px;
 }

}


